{% extends 'hostel/base.html' %}
{% load static %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Welcome Home{% endblock title %}


{% block content %}
<div class="container">
<div class="mt-5 pt-5 mb-5 pb-5">
	<h1 class="text-capitalize text-success">Create a property</h1>
</div>
	<form method="POST" enctype="multipart/form-data">
		{{room_form.management_data}}
		{% csrf_token %}
		<h5 class="text-capitalize text-success alert alert-success">Hostel info</h5>
		{{hostel_form|crispy}}
		<h5 class="text-capitalize text-success alert alert-success">Room Types</h5>
		{{room_form|crispy}}
		<div class="text-center">
			<button class="btn btn-success mb-5">Save Data</button>
		</div>
		<hr>
	</form>
</div>
{% endblock content %}